.hide {
    display: none;
}

.show {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}

.lightbox {
    width: 400px;
    height: 400px;
    background-color: white;
}
